## Build generated
.DS_Store
build/
DerivedData

## Tests generated
GeneratedMocks.swift

## Various settings
xcuserdata

## Other
*.xccheckout
*.xcuserstate
*.xcscheme
Manifest.lock

## Pods
Pods/*
OnBoardingTest.xcworkspace/contents.xcworkspacedata

## AppCode
.idea/
